<!-- 		loop over articles -->
<%for (var i=0; i<art.length; i++){%>
<!-- 				create rows -->
	<tr class="pending-article-row">
		<td><div class="article-img" style="background-image:url('<%=art[i].image%>');"></div><%=art[i].title%></td>
		<td><%=art[i].profile.first_name%> <%=art[i].profile.last_name%></td>
		<td><%=art[i].words%></td>
<!-- 				display submission time -->
<!-- 				calc diff between current date-time and submit date-time -->
		<%var pubDate = new Date(art[i].publish_at);%>
		<%var diff = new Date() - pubDate;%>
<!-- 				calc time unit to display-->
		<%var time;%>
		<%var timeUnit;%>

		<%function checkTimeUnit(millsec, limit, unit){%>
			<%if(Math.round(diff/millsec) < limit){%>
				<%time = Math.round(diff/millsec);%>
				<%timeUnit = unit;%>
				<%return%>
			<%}%>
		<%};%>

		<%checkTimeUnit(60000, 60, "minute");%>
		<%checkTimeUnit(3600000, 24, "hour");%>
		<%checkTimeUnit(86400000, 365, "day");%>
		<%checkTimeUnit(31536000000, Infinity, "year");%>

		<%if (time > 1){%>
			<%timeUnit = timeUnit + "s";%>
		<%}%>
<!-- 				render time -->
		<td><%=time%> <%=timeUnit%> ago</td>
	</tr>	
<%}%>
